@import url(//font.elice.io/EliceDigitalBaeum.css);
*{
    font-family: "Elice Digital Baeum",sans-serif;
}

#MainContainer{

    
    border-style: solid;
    border-radius: 30px;
    border-color: darkgray;

    width:100%;
    height: 100%;
    margin:70px auto;
    
    padding-bottom:40px;

    display: block;


}

#MainContainerHead{
    padding:20px;
}

#GraphContainer{
    width: 1000px;
    height: 300px;
    margin-left:30%;

    margin-bottom: 40px;
    display: block;
}

#BottomContainer{

    position:relative;
    margin-left:30%;

    justify-content: center;
    align-items: center;

    display: block;
}

#ButtonContainer{

    width: 80px;

    text-align: center;
    
    display: inline;
    justify-content: center;
    align-items: center;

    margin-left:30%;

    margin-bottom:100px;
    

}

#recommend{
    margin-top:100px ;
    margin-left:30%;
    width: 600px;
    height: 300px;
} 

#category{
    
    text-align: center;
    width: 600px;
   
}

#region{
   
    text-align: center;
    width: 600px;
}
