@import url(//font.elice.io/EliceDigitalBaeum.css);
*{
    font-family: "Elice Digital Baeum",sans-serif;
}

#MainContainer{

    
    border-style: solid;
    border-radius: 30px;
    width:80%;
    height: 740px;
    margin:70px auto;

    
}

#MainContainerHead{
    
    display:flex;
    padding:20px;
}

#GraphContainer{
    
    border-style:solid;
    border-color: red;

    float:left;
	width:550px;
	height:300px;	
	margin:10px;
	padding:10px;	
    border:1px solid #ccc;

    margin-bottom: 20px;

    

}
#Description{
    clear:left;
    text-align: center;
    padding-top:20px;
}

#BottomContainer{
    display:inline;
    justify-content: center;
    align-items: center;

    position: relative;
}

#ButtonContainer{
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    
    

    
    
}

#recommend{
    display:block;
    justify-content: center;
    flex-direction: column;

}  

#category{
    text-align: center;
   
}

#region{
    text-align: center;
}